<form method="post" action="{{ path('app_admin_commande_delete', {'id': panier.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ panier.id) }}">
    <button class="btn">Delete</button>
</form>
