<div class="col-12 col-md-6 mt-5">
    <div class="col-12 mt-3">
        <div class="row d-flex justify-content-around text-center">
            <div class="col-6 mb-4">
                <a href="{{ path('app_livraison_adresse',{'choice': 'principale' }) }}">
                    {% if selector == 'principale' %}
                        <div class="cardAddress" style="color: orange">
                            <p class="pt-5 fw-bold">Principale</p>
                            <i class="fas fa-home mb-5"></i>
                        </div>
                    {% else %}
                        <div class="cardAddress">
                            <p class="pt-5 fw-bold">Principale</p>
                            <i class="fas fa-home mb-5"></i>
                        </div>
                    {% endif %}
                </a>
            </div>
            <div class="col-6">
                <a href="{{ path('app_livraison_adresse',{'choice': 'secondaire' }) }}">
                    {% if selector == 'secondaire' %}
                        <div class="cardAddress" style="color: orange">
                            <p class="pt-5 fw-bold">Secondaire</p>
                            <i class="fas fa-plane mb-5"></i>
                        </div>
                    {% else %}
                        <div class="cardAddress">
                            <p class="pt-5 fw-bold">Secondaire</p>
                            <i class="fas fa-plane mb-5"></i>
                        </div>
                    {% endif %}
                </a>
            </div>
        </div>
    </div>
</div>