<div class="col-6 col-sm-4 col-md-4 col-xl-2 mt-4 mb-3">
    <div class="cardBest">
        <a href="">
            <div class="picture">
                <img class="mt-3" src="{{ asset('build/img/home/dog.png') }}" alt="chien">
            </div>
            <div>
                <div class="row mx-2">
                    <div class="col-6 mt-3">
                        <p class="price fw-bolder mb-0">25,80€</p>
                        <p class="">note</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
