<div id="carouselHome" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselHome" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselHome" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselHome" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
            <img src="{{ asset('build/img/carousel/spacex.png') }}" class="d-block w-100" alt="spaceX">
            <div class="carousel-caption d-none d-md-block col-4">
                <div class="row d-flex justify-content-center">
                    <div class="divInfo col-11">
                        <h5>Nouveauté</h5>
                        <p class="text-center pe-3 ps-3">Grâce à notre partenariat inédit avec le géant américain
                            SpaceX, envoyez votre animal préféré dans l’espace.</p>
{#                        <button type="button" class="btn btn-primary">En savoir plus</button>#}
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="10000">
            <img src="{{ asset('build/img/carousel/produitcarousel.png') }}" class="d-block w-100"
                 alt="croquette pour chien">
            <div class="carousel-caption d-none d-md-block col-4">
                <div class="row d-flex justify-content-center">
                    <div class="divInfo col-11">
                        <h5>Gage qualité</h5>
                        <p class="text-center pe-3 ps-3">Nous sélectionnons chaque année les meilleures croquettes du marché pour votre toutou.</p>
{#                        <button type="button" class="btn btn-primary">Voir produits</button>#}
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="10000">
            <img src="{{ asset('build/img/carousel/promocarousel.png') }}" class="d-block w-100" alt="promotion">
            <div class="carousel-caption d-none d-md-block col-4">
                <div class="row d-flex justify-content-center">
                    <div class="divInfo col-11">
                        <h5>Promotions</h5>
                        <p class="text-center pe-3 ps-3">Découvrez en exclusivité chaque jour des nouvelles promotions sur toutes les gammes de produits disponible en sur le site.</p>
{#                        <button type="button" class="btn btn-primary">Voir produits</button>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselHome" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselHome" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>