<div class="col-6 col-sm-4 col-md-4 col-xl-2 mt-4 mb-5">
    <div class="cardBest">
        <a href="">
            <div class="picture">
                <img class="mt-3" src="{{ asset('build/img/home/dog.png') }}" alt="chien">
            </div>
            <div>
                <h5 class="mt-1 mb-3 mx-3">Titre</h5>
                <p class="mx-3 lh-1">Low grain, faible teneur en cereales 12kg</p>
                <p class="mx-3">note produit</p>
                <p class="price mx-3 pb-3 fw-bolder">25,80€</p>
            </div>
        </a>
    </div>
</div>