<div class="col-6 col-sm-4 col-md-4 col-xl-2 mt-4 mb-5">
    <div class="cardPromo">
        <a href="">
            <div class="picture">
                <img class="mt-3" src="{{ asset('build/img/home/dog.png') }}" alt="chien">
            </div>
            <div class="row">
                <div class="col-6">
                    <p class="mb-0 mx-3 mt-3 fw-bolder"><s>30,19€</s></p>
                    <p class="price mx-3 pb-2 fw-bolder">25,80€</p>
                </div>
                <div class="col-6">
                    <div class="container-promo">
                        -20%
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>