
        <div class="col-12 col-sm-6 col-md-4 col-xl-2 mt-4 mb-5 test">
            <div class="cardFull">
                <a href="">
                    <div class="picture">
                        <img class="mt-3" src="{{ asset('build/img/home/dog.png') }}" alt="chien">
                    </div>
                    <div>
                        <h5 class="title-best mt-1 mb-3 mx-3">Titre</h5>
                        <p class="resume-best mx-3 lh-1">Description du produit</p>
                        {# Gestion des notes #}
                        {% set star = 'empty' %}
                        {% include 'front/partials/_notes.html.twig' %}
                        <p class="price mx-3 pb-3 fw-bolder">29.90€</p>
                    </div>
                </a>
            </div>
        </div>
