<div class="col-12 col-sm-12 col-md-6 col-xl-4 mt-4">
    <div class="cardReview">
        <div class="row d-flex justify-content-center">
            <div class="col-5 mt-4 picture">
                <img class="ms-4" src="{{ asset('build/img/home/tristan.jpg') }}"
                     alt="avis client">
            </div>
            <div class="col-6 mt-4 p-0 pe-5">
                <p class="mt-3 mb-1 fw-bolder">Tristan.M</p>
                <hr class="mb-2 mt-0">
                <div class="row">
                    <div class="d-flex">
                        <i class="starReview fas fa-star"></i>
                        <i class="starReview fas fa-star"></i>
                        <i class="starReview fas fa-star"></i>
                        <i class="starReview fas fa-star"></i>
                        <i class="starReview fas fa-star"></i>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-3 text-center">
                <p class="mx-2">Livraison très rapide et produits bien emballés, je suis très
                    satisfait, je recommande vivement ce site ! </p>
            </div>
        </div>
    </div>
</div>
<div class="col-12 col-sm-12 col-md-6 col-xl-4 mt-4">
    <div class="cardReview">
        <div class="row d-flex justify-content-center">
            <div class="col-5 mt-4 picture">
                <img class="ms-4" src="{{ asset('build/img/home/justine.jpg') }}"
                     alt="avis client">
            </div>
            <div class="col-6 mt-4 p-0 pe-5">
                <p class="mt-3 mb-1 fw-bolder">Justine.P</p>
                <hr class="mb-2 mt-0">
                <div class="row">
                    <div class="d-flex">
                        <i class="starReview fas fa-star"></i>
                        <i class="starReview fas fa-star"></i>
                        <i class="starReview fas fa-star"></i>
                        <i class="starReview fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-3 text-center">
                <p class="mx-2">Habituée de la boutique niçoise, je peux maintenant commander en ligne sans me déplacer.</p>
            </div>
        </div>
    </div>
</div>