<header>
    <!--LOGO/RECHERCHE/PANIER-->
    <div class="headeranduser">
      <div class="box">

        <a href="{{ path('app_home') }}"><img class="logo" src="{{ asset('build/img/logos/logo.png') }}" alt="logo lanimesalerie"></a>
        <h1>LA NIMES ALERIE</h1>
        <div class="absolute">
          <div class="search-container">
            <form action="envoi.php" method="post">
              <label for="search">recherche</label>
              <div class="search">
                <input type="text" name="search" id="search" placeholder="RECHERCHER" class="round">
                <input type="submit" value="" class="glass">
              </div>
            </form>
          </div>
          <div class="user-space">
            <a href="" class="wishlist"></a>
            <a href="" class="order"></a>
            <a href="" class="user"></a>
            <a href="" class="basketround"></a>
          </div>
          <div class="basket">
            <a href="" class="picture"></a>
            <p class="value">00</p>
          </div>
          <div class="menuburger">
            <a href="" class="burger"></a>
          </div>
        </div>
      </div>
  </header>
  <!--NAVBAR PRINCIPALE-->
  <div class="navtop">
    <ul>
      <li><a href="">Chiens<span class="arrow"></span></a></li>
      <li><a href="">Chats<span class="arrow"></span></a></li>
      <li><a href="">Oiseaux<span class="arrow"></span></a></li>
      <li><a href="">Poissons<span class="arrow"></span></a></li>
      <li><a href="">Rongeurs<span class="arrow"></span></a></li>
      <li><a href="">Reptiles<span class="arrow"></span></a></li>
    </ul>
  </div>
</header>