<form method="post" action="{{ path('app_admin_animal_delete', {'id': animal.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ animal.id) }}">
    <button class="btn btn-danger col-md-12">Supprimer</button>
</form>
