<form method="post" action="{{ path('app_admin_client_delete', {'id': client.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ client.id) }}">
    <button class="btn btn-danger col-md-12 mt-5 mb-4">Supprimer</button>
</form>
