{% extends 'front/base.html.twig' %}

{% block title %}Accueil | La Nimes'alerie{% endblock %}

{% block body %}
  <!--NAV DE CHEMIN-->
  <div class="navbottom">
    <ul>
      <li><a href="#best">Meilleurs ventes</a></li>
      <li><a href="#brandnew">Nouveautés</a></li>
      <li><a href="#promotions">Promotions</a></li>
      <li><a href="#newsletter">Newsletter</a></li>
      <li><a href="#review">Avis clients</a></li>
    </ul>
  </div>
{% endblock %}
