{% extends 'front/base.html.twig' %}

{% block title %}Accueil | La Nimes'alerie{% endblock %}

{% block body %}

    <div class="navbottom">
        <ul>
            <li><a href="#best">Meilleurs ventes</a></li>
            <li><a href="#brandnew">Nouveautés</a></li>
            <li><a href="#promo">Promotions</a></li>
            <li><a href="#newsletter">Newsletter</a></li>
            <li><a href="#review">Avis clients</a></li>
        </ul>
    </div>

    {% include 'front/partials/_carousel.html.twig' %}

    <div id="menuAnimals" class="mt-5">
        <div class="container">
            <div class="col-md-12">
                <div class="row d-flex justify-content-center">
                    {% include 'front/partials/_menuAnimals.html.twig' %}
                </div>
            </div>
        </div>
    </div>

    <div id="best" class="mt-5">
        <div class="container">
            <div class="col-md-12">
                <div class="row d-flex justify-content-center">
                    <h3>Meilleurs ventes</h3>
                    <hr>
                    {% include 'front/partials/_cardBest.html.twig' %}
                    {% include 'front/partials/_cardBest.html.twig' %}
                    {% include 'front/partials/_cardBest.html.twig' %}
                    {% include 'front/partials/_cardBest.html.twig' %}
                    {% include 'front/partials/_cardBest.html.twig' %}
                    {% include 'front/partials/_cardBest.html.twig' %}
                </div>
            </div>
        </div>
    </div>

    <div id="brandnew" class="mt-5 mb-5">
        <div class="container">
            <div class="col-md-12">
                <div class="row d-flex justify-content-center">
                    <h3>Nouveautés</h3>
                    <hr>
                    {% include 'front/partials/_brandNew.html.twig' %}
                    {% include 'front/partials/_brandNew.html.twig' %}
                    {% include 'front/partials/_brandNew.html.twig' %}
                    {% include 'front/partials/_brandNew.html.twig' %}
                    {% include 'front/partials/_brandNew.html.twig' %}
                    {% include 'front/partials/_brandNew.html.twig' %}
                    {% include 'front/partials/_brandNew.html.twig' %}
                    {% include 'front/partials/_brandNew.html.twig' %}
                    {% include 'front/partials/_brandNew.html.twig' %}
                    {% include 'front/partials/_brandNew.html.twig' %}
                    {% include 'front/partials/_brandNew.html.twig' %}
                    {% include 'front/partials/_brandNew.html.twig' %}
                </div>
            </div>
        </div>
    </div>

    <div id="promo" class="mt-5 mb-5">
        <div class="container">
            <div class="col-md-12">
                <div class="row d-flex justify-content-center">
                    <h3>Promotions</h3>
                    <hr>
                    {% include 'front/partials/_promo.html.twig' %}
                    {% include 'front/partials/_promo.html.twig' %}
                    {% include 'front/partials/_promo.html.twig' %}
                    {% include 'front/partials/_promo.html.twig' %}
                    {% include 'front/partials/_promo.html.twig' %}
                    {% include 'front/partials/_promo.html.twig' %}
                </div>
            </div>
        </div>
    </div>

    <div id="newsletter" class="mt-5 mb-5">
        <div class="container">
            <div class="col-md-12">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-6 mt-5">
                        <div class="row d-flex justify-content-center">
                            <p class="mb-0 fw-bolder">Inscrivez-vous à notre newsletter pour ne rien manquer de nos nouveautés</p>
                            <hr>
                        </div>
                        <div class="row d-flex justify-content-center mt-2 mb-3">
                            <form action="">
                                <input type="text" placeholder="Votre email">
                                <button type="submit" class="btn btn-secondary">S'inscrire</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{#    <div id="review" class="mt-5 mb-5">#}
{#        <div class="container">#}
{#            <div class="col-md-12">#}
{#                <div class="row d-flex justify-content-center">#}
{#                    <h3>Avis client</h3>#}
{#                    <hr>#}
{#                    #}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

{% endblock %}
