// FORMATAGE
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// COLORS //

$bleutheme: #1B3763;
$bleufonce: #16315A;
$orange: #FFC056;
$beige: #DDD2BC;


// BUTTON //

.btnyellow{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 48px;
    background: $orange;
    border-radius: 12px;
    font-size: 1.2rem;
    text-decoration: none;
    font-family: 'Arimo', sans-serif;
}

.btnyellow:hover{
    background: #E19F30;
}

// OVERDRIVE BTN BOOTSTRAP //

.btn-primary{
    background-color: $orange;
    border: none;

    &:hover, &:focus, &:active {
        background-color: #E19F30;
    }
}
