// FONTS //
.headeranduser .value{
    font-family: 'Arya', sans-serif;
    font-weight: bold;
    font-size: 24px;
}

.navtop{
    font-family: 'Arya', sans-serif;    
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
}

.banner .info h3{
    color: white;
    font-family: 'Arimo', sans-serif;
    font-size: 2.5rem;
}

.banner .info p{
    color: white;
    font-family: 'Arimo', sans-serif;
    font-size: 1.3rem;
}

.navbottom{
    font-family: 'Arya', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
}


// COLORS //

$bleutheme: #1A3663;
$bleufonce: #16315A;
$orange: #FFC056;
$beige: #DDD2BC;


// BUTTON //

.btnyellow{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    background: $orange;
    border-radius: 12px;    
    color: black;
    font-size: 1.2rem; 
    text-decoration: none;
    font-family: 'Arimo', sans-serif;
}

.btnyellow:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;    
    background: #E19F30;
    border-radius: 12px;
    border-radius: 12px;    
    color: black;
    font-size: 1.2rem; 
    text-decoration: none;
    font-family: 'Arimo', sans-serif;       
}