<!DOCTYPE html>

<title>New Adresse</title>

{% block body %}
    <h5>Create new Adresse</h5>
    {{ include('back/adresse/_form.html.twig') }}
    <a href="{{ path('app_admin_adresse_index') }}">back to list</a>
{% endblock %}
