#address {

  h5{
    color: grey;
  }

  .payCard {
    border: 1px solid #b4b2b2;
    height: 50px;
  }

  .payCardOn {
    border: 1px solid #e7e7e7;
    height: 50px;
    background-color: #e7e7e7;
  }

  .paypalLogo {
    height: 30px;
    width: 100px;
    margin-top: 8px;
  }

  .cbLogo {
    height: 30px;
    width: 130px;
    margin-top: 9px;
  }

  .label{
    margin-top: 11px;
  }
  .radio {
    margin-top: 16px;
  }

}