.admin-menu{
  height: 100%;
  background-color: $bleutheme;
  color: white;

  a {
    text-decoration: none;
    color: #dfdfdf;

    &:hover {
      color: $orange;
    }
    &.menu-active {
      color: $orange;
      font-size: 1.2rem;
    }
  }
}






