.admin-menu{
  height: 1300px;
  background-color: $bleutheme;
  color: white;

  h4{
    font-size: 1.3rem;
  }

  a {
    text-decoration: none;
    color: #dfdfdf;
    font-size: 0.9rem;

    &:hover {
      color: $orange;
    }
    &.menu-active {
      color: $orange;
      font-size: 1rem;
    }
  }
}

.backadmin{
  font-size: 0.9rem;
  margin-top: 365px;
  color: darkgrey;
}






